<h1 class="font-queens text-4xl md:text-5xl leading-tight mb-12 blog-title">Tags</h1>

<ul class="space-y-2">
{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag blog-text hover:opacity-75 transition-opacity">{{ tag }}</a></li>
{% endfor %}
</ul>
